
body {
  font-family: 'Rubik', sans-serif;
  font-size: 4.25rem;
}

html {
 
          font-size: 100%;
  
}


/*landing*/

.landing{
  position: relative;
  margin-bottom: 2rem !important;
  padding: 2rem 1rem;
  overflow: hidden !important;
}
.features{
  position: relative;
    margin-bottom: 3rem !important;
    padding: 2rem 2rem !important;
    overflow: hidden;
}
@media only screen and (min-width: 800px){
.features {
    padding-top: 4.5rem  !important;
    padding-right: 3rcm !important;
    padding-bottom: 0rcm !important;
    padding-left: 3rcm !important;
    margin-bottom: 0rem !important;
}
}
.landing::before {    
  content: '';
  position: absolute;
  z-index: -2;
  top: 6.5rem;
  left: 34.5vw;
  width: 400rem;
  height: 46vw;
  background-color:#6c63ff;
  border-radius: 100rem;
  
}

@media only screen and (min-width: 800px) {
  .landing::before {
    top: 4.5rem;
    left: 64.5vw;
    width: 400rem;
    height: 20rem;
  }
}

.landing__content-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1104px;
  margin: 0 auto;
  
}

@media only screen and (min-width: 800px) {
  .landing__content-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
     align-items:flex-start;
  }
}

.landing__img-wrapper {
  margin-bottom: 4rem;
}

@media only screen and (min-width: 800px) {
  .landing__img-wrapper {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-bottom: 0;
  }
}

.landing__img {
  width: 100%;
  
}

@media only screen and (min-width: 800px) {
  .landing__img {
    width: 500px;
    padding-left: 20px;
  }

  .landing__text-wrapper{
    align-items: start;
  text-align: start;
  }
}

.landing__text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media  screen and (min-width : 800px) {
  .landing__text-wrapper{
    align-items: flex-start;
    text-align: start;
    padding-left: 50px;
    padding-top: 30px;
  }
}

.heading {
  
  font-weight:bolder;
  line-height: 2rem;
}

@media only screen and (min-width: 600px) {
   .heading {
    line-height: 3.5rem;
    
    }
}

 .heading-primary {
  font-size: 1.75rem;
  letter-spacing: -0.15px;
  line-height: 2.5rem;
}

@media only screen and (min-width: 800px) {
   .heading-primary {
    font-size: 3rem;
    letter-spacing: -0.15px;
    line-height: 3.5rem;
  }
}

.heading--secondary {
  font-size: 1.5rem;
  letter-spacing: -0.08px;
}

@media only screen and (min-width: 800px) {
  .heading--secondary {
    font-size: 2rem;
    letter-spacing: -0.1px;
  }
}

 .paragraph {
  color: #8888A0;
  font-size: 1.19rem;
  line-height: 2.2rem;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media only screen and (min-width: 800px) {
   .paragraph {
      padding-top: 15px;
      padding-bottom: 15px;
    font-size: 1.25rem;
  }
}
   
.btn-dk {
  position: relative;
  border: 2px solid;
  border-radius: 5px;
  padding: 1.2rem 3rem;
  font-size: 1.15rem;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 3.5rem;
  cursor: pointer;
  overflow: hidden;
  transition: all .3s, outline 0s;
  transition: all .3s, outline 0s;
  width: 150px;
}

@media only screen and (min-width: 800px) {
  .landing .btn-dk {
    padding: 1.2rem 4.5rem;
    width: 200px;
  }
}
    a.btn1.btn--blue1:hover {
        background-color: white;
        color: #6c63ff;
        text-decoration: none;
    }

    @media screen and (min-width: 800px){
.landing__text-wrapper {
    align-items: flex-start;
    text-align: start;
    padding-left: 50px;
    padding-top: 30px;
}}

@media (max-width: 870px) {
      .containerdk.sign-up-mode .signin-signup {
        top: 5% !important;
        transform: translate(-50%, 0);
      }
    }
    
    .landing .btn--blue-dk {
  
  
  background-color:#6c63ff;
  color: white;
}

.btn--blue-dk:hover {
  background-color: white;
  color: #6c63ff;
  text-decoration: none;
}

.landing .btn--grey-dk{ 
  border: 1px solid #6c63ff;
  background-color: rgba(0,0,0,0.0);
 color: black;
 transition: all 0.5s ease-in-out;
}
.btn--grey-dk:hover{
   border: none;
 box-shadow: 6px 6px 12px rgba(97, 116, 224, 0.2) !important ;
 text-decoration: none;
 
}
@media only screen and (min-width:800px) {
    .btn--grey-dk{
        padding-left: 45px;
    }
}

/*Features*/



.feature__img-wrapper {
height: 75.7vw;
max-height: 54rem;
margin-bottom: 4rem;
}

@media only screen and (min-width: 800px) {
.feature__img-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 0;
  min-width: 540px;
  height: auto;
  padding-right: 2rem;
}
}

.feature__img {
width: 100%;
min-width: 0;
-webkit-transition: opacity 1s, -webkit-transform 1s;
transition: opacity 1s, -webkit-transform 1s;
transition: transform 1s, opacity 1s;
transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

@media only screen and (min-width: 800px) {
.feature__img {
  padding-top: 70px;
  height:auto;
  width:auto;
  
}
}

.feature__text-wrapper {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
max-width: 64rem;
text-align: center;
-webkit-transition: opacity 1s;
transition: opacity 1s;
}

.features__header {
  max-width: 48rem;
}
@media only screen and (min-width: 800px){
.features__header {
    max-width: 38rem;
}
}

@media only screen and (min-width: 800px){
.feature__text-wrapper {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 56rem !important; 
    flex: 1 0 1rem !important;
    padding-top: 6rem;
    padding-left: 3rem !important;
    text-align: start;
    max-width: initial;
}
}
.feature__heading {
margin-bottom: 1rem !important;
font-family: 'Raleway', sans-serif;
}

.feature__description {
margin-bottom: 2rem;
}

.feature__btn {
  position: relative;
  border: 2px solid;
  border-radius: 0px;
  padding: 0rem 2rem !important;
  font-size: 0.7rem;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 3.5rem;
  cursor: pointer;
  overflow: hidden;
  transition: all .3s, outline 0s;
  transition: all .3s, outline 0s;
  width: 150px;
  font-family: 'Orbitron', sans-serif;
  background-color: blueviolet;
}



ol, ul {
  padding-left: 0rem !important;
}

a.feature__btn.btn--voi {
  background-color:#6c63ff;
  color: white;
  width: 200px;
}

.btn--voi:hover {
  background-color: white;
  color: #6c63ff;
  text-decoration: none;
}

@media only screen and (min-width: 800px) {
  .btn--voi {
    background-color:#6c63ff;
    color: white;
    width: 200px;
  }
  
  .btn--voi:hover {
    background-color: white;
    color: #6c63ff;
    text-decoration: none;
  }
}

.fade-out .feature__img {
-webkit-transform: translateX(calc(-1 * 50vw));
        transform: translateX(calc(-1 * 50vw));
opacity: 0;
}

.fade-out .feature__text-wrapper {
opacity: 0;
}

.features {
position: relative;
margin-bottom: 0rem !important;
padding: 4rem 3rem;
overflow: hidden;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
   margin-bottom: 0rem !important;
   padding: 0rem 0rem !important; 
  overflow: hidden;
}

@media only screen and (min-width: 800px){
.feature {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    height: 35rem;
    padding: 0rem !important;
    margin-bottom: 0rem !important;
}

}

.features::before {
  content: '';
  position: absolute;
  top: 50rem;
  right: 20vw;
  width: 100rem;
  height: 57vw;
  max-height: 40rem;
  background-color: #6c63ff;
  border-radius: 100rem;
}

@media only screen and (min-width: 800px){
.features::before {
    top: 37.25rem;
    right: 55.5vw;
    width: 200rem;
    height: 22rem;
    max-height: initial;
}
}

.features__content-wrapper {
position: relative;
max-width: 1104px;
margin: 0 auto;
}

.features__header {
margin: 0 auto;
max-width: 64rem;
text-align: center;
}

@media only screen and (min-width: 800px) {
.features__header {
  max-width: 45rem !important;
}
}

.features__heading {
margin-bottom: 1rem;
}

.features__description {
margin-bottom: 3rem;
}

.tabs {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
list-style: none;
margin-bottom: 3rem !important;
}

@media only screen and (min-width: 800px) {
.tabs {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 91.25rem;
  margin: 0 auto;
  margin-bottom: 4rem;
}
}

.tabs__tab {
position: relative;
text-align: center;
border-bottom: 1px solid rgba(74, 94, 207, 0.2);
padding: 3rem 0;
cursor: pointer;
opacity: .5;
}

@media only screen and (min-width: 800px) {
.tabs__tab {
  width: 33.33%;
  padding: 4rem 0;
  padding-top: 2rem;
}
}

.tabs__tab::after {
content: '';
position: absolute;
bottom: 0;
left: 50%;
-webkit-transform: translate(-50%);
        transform: translate(-50%);
width: 20rem;
height: 4px;
background-color: white;
-webkit-transition: background-color .3s;
transition: background-color .3s;
}

@media only screen and (min-width: 800px) {
.tabs__tab::after {
  width: 100%;
}
}

.tabs__tab:first-child {
border-top: 1px solid rgba(74, 94, 207, 0.2);
}

@media only screen and (min-width: 800px) {
.tabs__tab:first-child {
  border-top: none;
}
}

.tabs__tab--active {
opacity: 1;
transition:ease-in-out 1s;
}

.tabs__tab--active::after {
background-color: #6c63ff;
}

.feature__btn{
width: 150px;
height: 50px;
text-decoration: none;
border: none;
transition: ease-in-out 1s;
font-family: 'Raleway', sans-serif;
font-size: 1.7rem;
font-weight: bold;
}

.feature__btn:hover{
box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012)
}
a.btn1 {
  position: relative;
  border: 2px solid;
  border-radius: 5px;
  padding: 1.2rem 2rem;
  font-size: 1.15rem;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 3.5rem;
  cursor: pointer;
  overflow: hidden;
  transition: all .3s, outline 0s;
  transition: all .3s, outline 0s;
  width: 200px;
  text-align:center;
}

a.btn1.btn--blue1 {
  
  background-color:#6c63ff;
  color: white;
}

a.btn1.btn--blue1:hover {
  background-color: white;
  color: #6c63ff;
  text-decoration:none;
}

.faqs {
  margin-bottom: 2rem;
  padding: 2rem;
}

@media only screen and (min-width: 800px) {
  .faqs {
    margin-bottom: 4rem;
    padding: 3rem;
  }
}

.faqs__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 740px !important;
  margin: 0 auto;
  text-align: center;
}

.faqs__heading {
  margin-bottom: 1rem;
  font-family: 'Raleway', sans-serif;
}

.faqs__description {
  margin-bottom: 3rem;
}

.faqs__faqs-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 3rem;
}

.faq {
  border-bottom: 1px solid rgba(36, 42, 69, 0.15);
  text-align: start;
}

.faq:first-child {
  border-top: 1px solid rgba(36, 42, 69, 0.15);
}

.faq__question {
  
  display: box;
  display: flexbox;
  display: flex;
  box-align: center;
      -ms-flex-align: center;
          align-items: center;
  box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem !important;
  font-size: 1.2rem !important;
  font-weight: normal;
  
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s;
}

@media only screen and (min-width: 800px) {
  .faq__question {
    font-size: 1.2rem;
    line-height: 1rem;
  }
}

.faq__question:hover {
  color:darkslateblue;
}

.faq__question::-webkit-details-marker {
  display: none;
}

.faq__question svg {
  margin: 0 1.5rem;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.faq__question svg * {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.faq__answer {
  color:gray;
  font-size: 1.2rem;
  transition: all .5s;
  line-height: 1.7rem;
  opacity: .75;
  padding: 1rem;
  padding-bottom: 2.5rem;
}

.faq[open] svg {
  transform: rotate(180deg);
          transform: rotate(180deg);
}

.faq[open] svg * {
  stroke: var(red);
}

.dk-animate-left {
  position: relative;
  -webkit-animation: dkanimateleft 0.7s;
  animation: dkanimateleft 0.7s;
}
@-webkit-keyframes dkanimateleft {
  from {
      left: -300px;
      opacity: 0;
  }
  to {
      left: 0;
      opacity: 1;
  }
}
@keyframes dkanimateleft {
  from {
      left: -300px;
      opacity: 0;
  }
  to {
      left: 0;
      opacity: 1;
  }
}



.dk-animate-right {
  position: relative;
  -webkit-animation: dkanimateright 0.7s;
  animation: dkanimateright 0.7s;
}
@-webkit-keyframes dkanimateright {
  from {
      right: -300px;
      opacity: 0;
  }
  to {
      right: 0;
      opacity: 1;
  }
}
@keyframes dkanimateright {
  from {
      right: -300px;
      opacity: 0;
  }
  to {
      right: 0;
      opacity: 1;
  }
}

/*201d4a*/