.mainlogo{
  height:35px !important;
  width:35px !important;
}
@media screen and (max-width: 321px) {
  .mainlogo{
    display:none;
    height:35px;
    width:35px;
  }
  
}
.dropbtn {
  background-color:white;
  color: black;
  padding: 11px 15px 5px 15px !important;
  font-size: 16px;
  border: 2px solid #6C63FF;
  font-weight: bold;
}

.dropdown {
  position: relative;
  display:grid;
  float:right;
  right: 0px !important;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1011;
}

.dropdownContent1{
  display: none;
  position: relative;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1011;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {
    display: grid;
    position: fixed;
    top:90px;
}

.dropdown:hover .dropbtn {
  background-color:#6C63FF ;
  color: white;
}

@media screen and (max-width: 600px) {
  .dropdown {
    position: relative;
    display:none !important;
    float:right;
  }
  
}

/*NAV*/
.nav-logo{
    font-size: 20px;
  }
  .hamburger-menu {
    width: 30px;
    height: 25px;
    position: relative;    
    right: 0px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
  }
  
  span {
    color: rgb(248, 246, 246);
    font-size: 45px;
  }
  .line2 {
    transition: all ease-in-out 0.5s 0.8s;
    transition: right 0.8s cubic-bezier(1, 0, 0, 1);
    width: 70% !important;
    height: 3.2px;
    border-radius: 1rem;
    background: rgb(3, 3, 3);
  }
  .line1,
  .line3 {
    height: 3px;
    width: 70%;
    border-radius: 1rem;
    background: rgb(0, 0, 0);
  }
  
  .change .line1 {
    transform: rotatez(-405deg) translate(-8px, 6px);
    transition: all ease-in-out 0.5s;
  }
  .change .line2 {
    opacity: 0;
  }
  .change .line3 {
    transform: rotatez(405deg) translate(-7px, -5px);
    transition: all ease-in-out 0.5s;
  }
  
  
  /* Top Nav*/
 
  .topnav a:after {
    
    content: "";
    display: none !important;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
  }
  
  .topnav a:hover:after {
    
    background:none !important;
  }
  .topnav a.ham:hover:after {
    width: 100%;
    background: #6C63FF;
  }
  
  .topnav .icon a:hover:after{
    background: none;
  }
  
  .topnav {
    padding: 2.5rem;
    background-color:transparent;
  width: 100%;
  position: relative;
  color: white;
  overflow:hidden !important;
  height: auto;
  top: 0;
  
  }
  
  
  
  a:hover{
    
    transition: all ease-in-out 0.5s;
  }
  
  .bs{
    height: 40px; 
    width: 40px ;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;   
    border-radius: 50%;
  }
  
  
  .topnav a {
    
    color: gray;
    float: right;
  display: block;
  font-weight: bold;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Archivo', sans-serif  !important; 
 }
  
  .topnav a:link{
    text-decoration: none;
    color:black;
  }
  .topnav a:visited{
    text-decoration: none;
    color: black;
  }
  .topnav a:hover{
   text-decoration: none;
   color: black;
   
  }
  .topnav a:active {
  text-decoration: none;
  color: black;
  }
  
  .topnav .icon {
  display: none;
  }
  
  
  a btnton:hover{
    background:none;
    color: black;
    transition: all ease-in-out 0.5s;
  }
  
  @media screen and (max-width: 800px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav div.dropdown:not(:first-child) {display: none; }
    .topnav a.icon {
      float: right;
      display: block;
    }
    }
    
    @media screen and (max-width: 800px) {
    .topnav.responsive {position: fixed;overflow: hidden}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    
  }
  }
  .bs{
    background: white;
  }
  /*sidebar*/
 .sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: white;
  position: fixed;
  height: 100%;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  z-index: 101;
  }
  
  .sidebar a {
  display: block;
  color: black;
  padding: 16px 16px 16px 40px !important;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Archivo', sans-serif  !important; 
  }
  
  
  .sidebar a:hover:not(.active) {
  
  color: #6c63ff;
  }
  
  div.content {
  margin-left: 80px;
  padding: 1px 16px;
  height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
  
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 800px) {
    .sidebar {    
      width: 90% !important;
      height: 100%;
      position: fixed;
      z-index: 101;
      background: white;
      border: 0px solid rgb(36 42 69 / 26%) !important;
      box-shadow: 20px 20px 50px 5px rgb(73 93 207 / 20%);
      left: 0;
      top: 0;
      transform:  translatex(-8px, 6px);
      transition: all ease-in-out 0.5s;
    }
    .sidebar a {
      text-align: left;
      float: none;
      color: black;
      
    }
    .sidebar:hover{
      color: white;
    }
    .sidebar a:hover {
      color: #6c63ff;
      text-align: left;
      float: none;
    }}
  
   .animate-left {
    position: fixed;
    -webkit-animation: animateleft 0.4s;
    animation: animateleft 0.4s;
}
@-webkit-keyframes animateleft {
    from {
        left: -300px;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}
@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

/*Signin-signup*/

.containerdk {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.forms-containerdk {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;  
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.btn {
  width: 150px;
  background-color: #6c63ff !important;
  border: none;
  outline: none;
  height: auto !important;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color:#443f9b ;
}
.panels-containerdk {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.containerdk:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #6c63ff 0%, #6c63ff 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
  
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 0.9rem;
  padding: 0.7rem 0;
  
  line-height:1rcm;
  text-align:start;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
}

/* ANIMATION */

.containerdk.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.containerdk.sign-up-mode .left-panel .image,
.containerdk.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.containerdk.sign-up-mode .signin-signup {
  left: 25%;
  
}

.containerdk.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
  
}

.containerdk.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.containerdk.sign-up-mode .right-panel .image,
.containerdk.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.containerdk.sign-up-mode .left-panel {
  pointer-events: none;
}

.containerdk.sign-up-mode .right-panel {
  pointer-events: all;
}

@media (max-width: 870px) {
  .containerdk {
    min-height: 800px;
    height: 100vh;
  }
  .signin-signup {
    width: 100%;
    top: 80%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .containerdk.sign-up-mode .signin-signup {
    left: 50%;
  }

  .panels-containerdk {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .containerdk:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .containerdk.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .containerdk.sign-up-mode .left-panel .image,
  .containerdk.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .containerdk.sign-up-mode .right-panel .image,
  .containerdk.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .containerdk.sign-up-mode .signin-signup {
    top: 5% !important;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem !important;
  }

  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .containerdk {
    padding: 1.5rem;
  }

  .containerdk:before {
    bottom: 72%;
    left: 50%;
  }

  .containerdk.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}

div.content {
    margin-left: 0px;
    padding: 0px;
    height: auto;
}

/*Model screen*/
.modal {
  display: none;
  position: fixed;
  z-index: 2000 !important;    
  width: 100%;
  height: 100%;
  overflow: auto;    
  background-color: rgba(0,0,0,.7);
  padding: 0
}


.content1{  
  align-items: center;
  background-color:white;  
  border: none;
  width: 100%;
  height: auto;
  padding: 0px ;
  /* padding-top: 30px; */
}


.btn {
  width: 150px;
  background-color: #6c63ff;
  border: none;
  outline: none;
  height: auto !important;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}


      .close1 {
  color: #aaaaaa;
  float: right;
  right: 0;
  padding: 10px;
  font-weight: bold;
  font-size: 50px;
  margin-top: 0px;
  z-index: 1000;
  position: fixed;
}
.close1:hover,
.close1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/* Responsive and Media Queries */

@media (min-width:2560px) {
  
  .content1{
      padding: 0px;
  }
  
  .close1{
      font-size: 50px;
  }
}


@media (min-width: 768px) and (max-width: 1023px) {
  
  .content1{
      height: auto;
      text-align: center;
  }
  
}

@media (min-width: 425px) and (max-width: 767px) {
  
  .modal {
  display: none;
  position: fixed;
  z-index: 2;    
  width: 100%;
  height: 100%;
  overflow: auto;    
  background-color: rgba(0,0,0,.7);
  padding: 0;
}

  
  .content1{
      height:auto;
      text-align: center;
  }
  
}

@media (min-width: 320px) and (max-width: 500px) {
  
  

  
  .modal {
  display: none;
  position: fixed;
  z-index: 2;    
  width: 100%;
  height: 100%;
  overflow: auto;    
  background-color: rgba(0,0,0,.7);
  
}

  
  
  
  .content1, 
  .content2{
      height:auto;
  }

}

.regbtn {
  position: relative;
  border: 2px solid #6c63ff;
  border-radius: 0px;
  padding: 0rem 2.5rem;
  font-size: 1.15rem;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 3.5rem;
  cursor: pointer;
  overflow: hidden;
  transition: all .3s, outline 0s;
  transition: all .3s, outline 0s;
  width: auto;
  text-align: center;
  background: white;
}
.dropdownContent1{
  display: none;
  position: relative;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1011;
}

.dropdown-container {
  display: none;
  background-color:white;
  padding-left: 8px;
}
a:not([href]) {
    color: black;
    text-decoration: none;
}

a:not([href]):hover {
  color: black;
  text-decoration: none;
}


@media (max-width: 570px){
  .right-panel {
  grid-row: 3 / 4;
  padding-bottom: 90px;
}

.containerdk.sign-up-mode:before {
    bottom: 38%;
    left: 50%;
}
}

.logtopsidebar:before {
    
  content: "";
  position: absolute;
  height: 65%;
  width: 0px !important;
  top: -10%;
  right: -10%;
  transform: translateY(-50%);
  
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: -6;

}

a:not([href]) {
  color: #6c63ff !important;
  text-decoration: none;
}

a:not([href]):hover {
  color: #6c63ff !important;
  text-decoration: none;
}