
#home{
    
    position: relative;
    width: 100%;
    height: auto;    
    text-align: center;
   

}

.landing{
    height: 100%;
    width: 100%;
    background-image: url("../img/finalbgdone.png") !important ;
    background-position: center;
    background-size:cover;
    background-repeat:repeat;
    align-content: left;   
   position: relative;
   overflow: auto;

}

.landing-out{
    height: 100%;
    width: 100%;
    
}

.landing-in{
    padding: 10%;
}

.in-div{
    padding:30px;
    background-color:#6b63ffa9;
}
.div2{
    height: 100vh;
    width: 100%;
}

.landing-in h1{
    font-family: 'Orbitron', sans-serif;
    font-size: 60px;
    color: #ffffff;
    
    
}
  @media screen and (max-width: 500px) {
    .landing{
        height:auto;
        width: 100%;
        background-image: url("../img/bg1.PNG") ;
        background-size: cover;
        background-repeat:repeat;
        align-content: left;   
       position: relative;
       overflow: auto;
    
    }
    
    
    .div2{
        height: 100vh;
        width: 100%;
    }
    
    .landing-in h1{
        font-family: 'Orbitron', sans-serif;  
        font-size: 45px;
        color: white;
        
        
    }
    
    
    

  }

  .dl-button{
      padding: 30px;
  }

  a.exp-btn{
    position: relative;
    border: 2px solid;
    border-radius: 0px;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: 1.5rem;
    cursor: pointer;
    overflow: hidden;
    transition: all .3s, outline 0s;
    transition: all .3s, outline 0s;
    width: 150px;
    font-family: 'Orbitron', sans-serif;
  }
  
  button.exp-btn.btn--voi {
    background-color:#6c63ff;
    color: white;
    width: 200px;
  }
  
  button.exp-btn.btn--voi:hover {
    background-color: white;
    color: #6c63ff;
    text-decoration: none;
  }
  button.exp-btn-1.btn--voi-1{
    background-color:#6c63ff;
    color: white;
    width: 200px;
    box-shadow: 6px 6px 12px #6c63ff, -6px -6px 12px #6c63ff;
  }

  button.exp-btn-1.btn--voi-1:hover{
    box-shadow: inset 6px 6px 12px #6c63ff, -6px -6px 12px #6c63ff;
  }

  
  .btn--voi:active{
      text-decoration: none;
  }
   
  .btn--voi:visited{
    text-decoration: none;
}
#contact form{
  margin-top: 50px;
  transition: all 4s ease-in-out;
  background: url('img/bg.PNG') no-repeat  ;          
  background-size: cover;
  height: 70vh;
}

@media(max-width:600px){
  #contact form{
  margin-top: 50px;
  transition: all 4s ease-in-out;
  background: url('img/cm.jpg') no-repeat  ;          
  background-size: cover;
  height: auto;
  overflow: auto;
}}

.submit-form h1{
  font-family: 'Orbitron', sans-serif;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(2.5em + .75rem + 2px) !important;
  padding: .375rem .75rem;
  font-size: 1.1rem !important;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

a.forum-btn{
  position: relative;
  border: 0px solid;
  border-radius: 0px;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 3.5rem;
  cursor: pointer;
  overflow: hidden;
  width: 150px;
  font-family: 'Orbitron', sans-serif;
}

.forum{
  padding-top: 20px;
  overflow: auto;
  background-color: white;
}
.forum-in{
  padding: 70px;
  background-color:#6b63ff3a;
}

a.forum-btn.btn-f{
  background-color:#6c63ff;
  color: white;
  width: 200px;
  box-shadow: 2px 1px 4px 2px rgba(0,0,0,0.4) !important;
  transition: ease-in-out 1s !important;
}

a.forum-btn.btn-f:hover{
  background-color:#6c63ff;
  color: white;
  width: 200px;
  box-shadow:inset 1px 1px 4px 2px rgba(0,0,0,0.4) !important;
  text-decoration: none;
  
}